# Virtual Environment
venv/
env/
.env
logs/

# Python Caches
__pycache__/
*.pyc

# SQL Server data files
docker/sqlserver/data/

# Data Folders 
data/raw/
data/staging/
*.csv
*.parquet
*.gz

# IDE and OS files
.vscode/
.DS_Store